{{ define "detail" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job {{.Job.ID}}</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <header>
      <h1>Job {{.Job.ID}}</h1>
      <div class="meta-info">
        <div>
          <strong>Command:</strong> {{.Job.Command}} {{range
          .Job.Arguments}}{{.}} {{end}}
        </div>
        {{- if .Job.CreatedAt.IsZero | not}}
        <div><strong>Created At:</strong> {{formatTime .Job.CreatedAt}}</div>
        {{- end}} {{- if .Job.CompletedAt.IsZero | not}}
        <div>
          <strong>Completed At:</strong>
          <span id="completedAt">{{formatTime .Job.CompletedAt}}</span>
        </div>
        {{- end}} {{- if .Job.ErroredAt.IsZero | not}}
        <div>
          <strong>Errored At:</strong>
          <span id="erroredAt">{{formatTime .Job.ErroredAt}}</span>
        </div>
        {{- end}}
        <div>
          <strong>State:</strong> <span id="state">{{.Job.State}}</span>
        </div>
        {{- if .Job.Dependencies}}
        <div>
          <strong>Dependencies:</strong> {{range .Job.Dependencies}}{{.}}
          {{end}}
        </div>
        {{- end}}
      </div>
    </header>
    <div class="terminal">
      <div class="terminal-content">
        {{range $index, $line := .Job.Stdout }}
        <div class="terminal-line">{{$line}}</div>
        {{end}}
      </div>
    </div>
    <footer></footer>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var eventSource = new EventSource("/stream");

        // Listen for stdout events and append the line to the terminal
        eventSource.addEventListener("stdout-{{.Job.ID}}", function (e) {
          var data = JSON.parse(e.data);
          if (data.line) {
            var container = document.querySelector(".terminal-content");
            var newLine = document.createElement("div");
            newLine.className = "terminal-line";
            newLine.textContent = data.line;
            container.appendChild(newLine);
            container.scrollTop = container.scrollHeight;
          }
        });

        eventSource.addEventListener("update", function (e) {
          var data = JSON.parse(e.data);
          console.log(data);
          if (data.job.id === "{{.Job.ID}}") {
            // Update the jobs state
            document.getElementById("state").innerText = data.job.state;

            // update either the completed or errored at time
            if (data.job.completedAt) {
              document.getElementById("completedAt").innerText =
                data.job.completedAt;
            }

            if (data.job.erroredAt) {
              document.getElementById("erroredAt").innerText =
                data.job.erroredAt;
            }
          }
        });
      });
      function htmlToNode(html) {
        const template = document.createElement("template");
        template.innerHTML = html.trim();
        const nNodes = template.content.childNodes.length;
        if (nNodes !== 1) {
          throw new Error(
            `html parameter must represent a single node; got ${nNodes}. ` +
              "Note that leading or trailing spaces around an element in your " +
              'HTML, like " <img/> ", get parsed as text nodes neighbouring ' +
              "the element; call .trim() on your input to avoid this."
          );
        }
        return template.content.firstChild;
      }
    </script>
  </body>
</html>
{{ end }}
